<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="Shared/layout"
      th:with="pageName='profile', pageTitle='Profile'"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>[[${pageTitle}]]</title>

</head>
<body>
<div layout:fragment="custom-content">
    <br/>
    <form th:action="@{/profile}" method="post" th:object="${userDetails}" id="formProfile">
        <fieldset class="clearfix">
            <input type="hidden" th:field="*{user}">
                <p >Name: <span class="fa fa-user"></span><input class="form-control" type="text" th:field="*{name}" Placeholder="Name" required></p> <!-- JS because of IE support; better: placeholder="Username" -->
                <p class="errors" th:if="${#fields.hasErrors('name')}" th:each="err : ${#fields.errors('name')}" th:text="${err}"></p>
                <p >Surname: <span class="fa fa-user"></span><input class="form-control" type="text" th:field="*{surName}" Placeholder="Surname" required></p> <!-- JS because of IE support; better: placeholder="Username" -->
                <p class="errors" th:if="${#fields.hasErrors('surName')}" th:each="err : ${#fields.errors('surName')}" th:text="${err}"></p>
                <p >Pesel: <span class="fa fa-user"></span><input class="form-control" type="text" th:field="*{pesel}" Placeholder="Pesel" required></p> <!-- JS because of IE support; better: placeholder="Username" -->
                <p class="errors" th:if="${#fields.hasErrors('pesel')}" th:each="err : ${#fields.errors('pesel')}" th:text="${err}"></p>
                <p >Phone: <span class="fa fa-mobile"></span><input class="form-control" type="text" th:field="*{phone}" Placeholder="Phone" required></p> <!-- JS because of IE support; better: placeholder="Username" -->
                <p class="errors" th:if="${#fields.hasErrors('phone')}" th:each="err : ${#fields.errors('phone')}" th:text="${err}"></p>
                <p >Address: <span class="fa fa-map-marker"></span><input class="form-control" type="text" th:field="*{address}" Placeholder="00-000;City;Street;Nr" required></p> <!-- JS because of IE support; better: placeholder="Username" -->
                <p style="color:red" th:if="${#fields.hasErrors('address')}" th:each="err : ${#fields.errors('address')}" th:text="${err}"></p>
            <div>
                <span style="width:40%; text-align:right; display: inline-block;"><input type="submit" value="Edit" class="btn btn-primary"></span>
            </div> <br/>
        </fieldset>
    </form>
</div>
</body>
</html>